if SHIELD_GALAGA_LEFT

config ZMK_KEYBOARD_NAME
    default "galaga"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_GALAGA_LEFT || SHIELD_GALAGA_RIGHT

config ZMK_SPLIT
    default y

endif
